<!-- Desktop Version -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sunshine Attractions</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <!-- Google Fonts (Kara 500 & Merriweather 400) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Merriweather&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Don't remove this script tag, it will cause a bug when clicking "x" inside of the modal -->
    <script src="/js/main.js"></script>
        <!-- Don't remove this script tag, it needs to be on top for the inline script that handles converting the rating value into which star
    is selected in user reviews. -->
    <script src="assets/js/transfer-review-star-data.js"></script>
    <script src="assets/js/average-review.js"></script>
  </head>
<% if (isDesktop) { %>
    <div class="desktop-container w-screen h-screen">
      <% if (loggedIn) { %>
        <header>
          <nav class="desktop-navbar w-full h-1/5 flex justify-between items-center p-3 bg-gray-100">
            <div class="logo-container flex justify-center items-center">
              <a href="/">
              <img class="w-full h-6/12" src="assets/image/Sunshine Attractions-logo/sunshine-logo-transparent (2).png" alt="Sunshine Attractions Logo">
              </a>
            </div>
            <div class="login-container flex justify-center items-center p-5">
              <div class="dropdown dropdown-hover">
                <form action="/profile">
                  <div class="avatar">
                    <div class="w-10 rounded-full">
                      <img src="<%= user.profilePic || 'assets/image/Sunshine Attractions-logo/default-profile-pic.png' %>" alt="User Profile Picture" />
                    </div>
                  </div>
                </form>
                <form action="/profile" class="font-karla">
                  <%= user.userName %>
                </form>
                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52 right-0 menu bg-base-200">
                    <li><a href="/profile" class="active font-merriweather">Profile</a></li>
                    <li><a class="font-merriweather">Your reviews</a></li>
                    <li><a href="/logout" class="font-merriweather">Logout</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </header>
      <% } else { %>
        <header>
          <nav class="desktop-navbar w-full h-1/5 flex justify-between items-center p-5">
            <div class="logo-container flex justify-center items-center">
              <a href="/">
                <img class="w-full h-6/12" src="assets/image/Sunshine Attractions-logo/sunshine-logo-transparent (2).png" alt="Sunshine Attractions Logo">
              </a>
            </div>
            <div class="login-container flex justify-center items-center p-5">
              <form action="/login">
                <button type="submit" class="border border-gray-300 rounded-md shadow-sm bg-secondaryButton p-3 m-2 font-merriweather">LOGIN</button>
              </form>
              <form action="/signup">
                <button type="submit" class="bg-primaryButton border rounded-md shadow-sm p-3 m-2 font-merriweather">SIGNUP</button>
              </form>
            </div>
          </nav>
        </header>
      <% } %>

    <main class="w-full pl-40 pr-40 flex content-center justify-center flex-row">
    <!-- Container for the following three sections -->

    <section class="w-1/2 h-full p-8">
     <!-- Left section -->       

     <div class="w-full flex flex-col justify-center items-center">
      <div class="card bg-base-100 shadow-xl w-full">
        <div class="relative">
          <figure class=" border-gray-300 border-2">  
            <img src="assets/image/Sunshine Attractions-logo/space-mountain.jpeg" alt="Photo of Space Mountain">
          </figure>
          <div id="space-wait" class="absolute bottom-4 right-4 bg-black text-white text-5xl border border-primaryButton border-4 rounded-full w-24 h-24 flex justify-center items-center font-bold text-center">
            60
          </div>
        </div>
        <div class="card-body flex">
          <h1 class="text-5xl items-center justify-center w-full flex mt-2 font-karla">Space Mountain</h1>
          <div class="rating m-1 items-center justify-center w-full flex">
            <input value="1" type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400 m-1 w-10 h-10" />
            <input value="2" type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400 m-1 w-10 h-10" />
            <input value="3" type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400 m-1 w-10 h-10" />
            <input value="4" type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400 m-1 w-10 h-10" />
            <input value="5" type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400 m-1 w-10 h-10" />
          </div>

          <div class="flex justify-center items-center font-karla xl">
            Rating: <%= averageRating.toFixed(1) %>
          </div>
  
          <div class="w-full flex flex-col justify-center items-center">
              <button class="btn btn-outline m-2 font-merriweather" onclick="my_modal_3.showModal()">Leave a Review</button>
          </div>

          <div>
            <div class="badge badge-secondary badge-outline">dark-ride</div>
            <div class="badge badge-secondary badge-outline">rollercoaster</div>
            <div class="badge badge-secondary badge-outline">thrill</div>
          </div>

          <div>
            <h2 class="text-2xl w-full flex mt-2 font-karla">About:</h2>
            <p class="font-merriweather items-center justify-center">Space Mountain is a space themed dark ride indoor rollercoaster. Expect twists, turns, and sudden drops!</p>
          </div>

          <div>
            <h2 class="text-2xl w-full flex mt-2 font-karla">Height Requirement:</h2>
            <p class="font-merriweather items-center justify-center">3′ 8″</p>
          </div>

          <div>
            <h2 class="text-2xl w-full flex mt-2 font-karla">Duration:</h2>
            <p class="font-merriweather items-center justify-center">3 Minutes</p>
          </div>

          <div>
            <h2 class="text-2xl w-full flex mt-2 font-karla">Drop height:</h2>
            <p class="font-merriweather items-center justify-center">26′</p>
          </div>

          <div>
            <h2 class="text-2xl w-full flex mt-2 font-karla">Inversions?</h2>
            <p class="font-merriweather items-center justify-center">No</p>
          </div>

        
  
        </div>
      </div>

    </section>

    <!-- Modal -->
    <dialog id="my_modal_3" class="modal">
    <form action="/review/createReview" enctype="multipart/form-data" method="POST" class="modal-box m-8">
      <button type="button" id="closeModalBtn" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>

      <section class="flex h-2/5 w-full items-center justify-center">
        <div class="flex justify-center items-center p-5 w-1/3 h-1/2">
          <div class="avatar">
            <div class="w-20 rounded-full">
              <% if (user && user.profilePic) { %>
                <img src="<%= user.profilePic %>" alt="User Profile Picture" />
              <% } else { %>
                <img src="assets/image/Sunshine Attractions-logo/default-profile-pic.png" alt="Default Profile Picture" />
              <% } %>
            </div>
          </div>
          <h2 class="m-2 text-2xl">
            <% if (user && user.userName) { %>
              <%= user.userName %>
            <% } else { %>
              Guest User
            <% } %>
          </h2>
        </div>
        <div class="w-2/3">
          <div class="rating m-2">
            <input type="radio" name="rating" id="rating1" value="1" class="mask mask-star-2 bg-orange-400 m-1 w-10 h-10" />
            <input type="radio" name="rating" id="rating2" value="2" class="mask mask-star-2 bg-orange-400 m-1 w-10 h-10" />
            <input type="radio" name="rating" id="rating3" value="3" class="mask mask-star-2 bg-orange-400 m-1 w-10 h-10" />
            <input type="radio" name="rating" id="rating4" value="4" class="mask mask-star-2 bg-orange-400 m-1 w-10 h-10" checked/>
            <input type="radio" name="rating" id="rating5" value="5" class="mask mask-star-2 bg-orange-400 m-1 w-10 h-10" />
          </div>
        </div>
      </section>
      

        <section class="h-2/5 w-full flex justify-center items-center flex-col">
          <label for="desc" class="form-label">Descripton</label>
          <textarea class="border border-black font-merriweather" id="desc" name="desc" cols="50" rows="10" maxlength="500"></textarea>
        </section>

        <section class="h-1/5 w-full flex justify-end items-center">
          <button type="submit" value="Upload" class=" bg-primaryButton border rounded-md shadow-sm p-3 m-2 font-merriweather">SUBMIT</button>
        </section>

      </section>
    </form>
      
    </dialog>

    <section class="w-1/2 h-full p-8 flex items-center flex-col">
      <div class="dropdown dropdown-right dropdown-end">
        <div class="flex justify-around items-center">
          <h2 class="font-karla text-3xl m-5">All Reviews</h2>
        <label tabindex="0" class="btn m-1">Filter</label>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
          <li><a class="font-merriweather">All reviews</a></li>
          <li><a class="font-merriweather">Your reviews</a></li>
          <li><a class="font-merriweather">Highest rated</a></li>
          <li><a class="font-merriweather">Most critcal</a></li>
          <li><a class="font-merriweather">Recent reviews</a></li>
        </ul>
      </div>
      </div>
        <!-- Right section -->
        <!-- Review componet -->
        <% for (var i = 0; i < review.length; i++) { %>
          <div class="card w-96 bg-base-100 shadow-xl border border-black m-5 overflow-hidden">
            <div class="card-body overflow-auto">
              <div>
                <section class="flex">
                  <div class="flex justify-center items-center w-1/3 h-1/2">
                    <div class="avatar">
                      <div class="w-10 rounded-full">
                        <% if (review[i].user && review[i].user.profilePic) { %>
                          <img src="<%= review[i].user.profilePic %>" alt="User Profile Picture" />
                        <% } else { %>
                          <img src="assets/image/Sunshine Attractions-logo/default-profile-pic.png" alt="Default Profile Picture" />
                        <% } %>
                      </div>
                    </div>
                    <h2 class="m-2 font-merriweather text-xl"><%= review[i].user.userName %></h2>
                  </div>
                  <div class="w-2/3 flex justify-center items-center">
                    <div class="rating ml-1 mr-1">
                      <input type="radio" id="star-<%= i %>-1" name="rating-<%= i %>" class="mask mask-star-2 bg-orange-400 m-1 w-8 h-8" />
                      <input type="radio" id="star-<%= i %>-2" name="rating-<%= i %>" class="mask mask-star-2 bg-orange-400 m-1 w-8 h-8" />
                      <input type="radio" id="star-<%= i %>-3" name="rating-<%= i %>" class="mask mask-star-2 bg-orange-400 m-1 w-8 h-8" />
                      <input type="radio" id="star-<%= i %>-4" name="rating-<%= i %>" class="mask mask-star-2 bg-orange-400 m-1 w-8 h-8" />
                      <input type="radio" id="star-<%= i %>-5" name="rating-<%= i %>" class="mask mask-star-2 bg-orange-400 m-1 w-8 h-8" />
                    </div>
                  </div>
                </section>
        
                <section class="h-1/2 flex justify-center items-center pt-5 pb-5">
                  <p class="font-merriweather"><%= review[i].desc %></p>
                </section>
              </div>
            </div>
          </div>
        
          <script>
            (function(i) {
              // Call the function to set the star rating for this review
              setStarRating(<%= review[i].rating %>, i);
              
              // Disable the radio buttons for star rating
              const stars = document.querySelectorAll(`input[name="rating-${i}"]`);
              for (const star of stars) {
                star.disabled = true;
              }
            })(<%= i %>);
          </script>
          
        <% } %>
        

  <% } %>
  
  <!-- Mobile Version -->
  <% if (!isDesktop) { %>
    <div class="mobile-container">
      <!-- Mobile-specific HTML structure -->
      <header>
        <!-- Large box for the app title on mobile -->
        <h1>Sunshine <br> Attractions </br> </h1>
      </header>

      <div class="search-container">
        <!-- Search bar content here -->
      </div>

      <main>
        <ul>
            <li>
                <a href="">Disney</a>
            </li>
            <li>
                <a href="">Universal</a>
            </li>
            <li>
                <a href="">Seaworld</a>
            </li>
            <li>
                <a href="">Busch Gardens</a>
            </li>
         </ul>
      </main>

      <section>
        <article>
            <h2>Halloween Horror Nights 2023</h2>
        </article>
      </section>

    </div>
  <% } %>
</body>
<script>
  // Function to calculate the rounded average rating
  function calculateRoundedAverage(averageRating) {
    return Math.round(averageRating);
  }

  // Get the average rating from the server
  const averageRating = <%= averageRating.toFixed(1) %>;

  // Calculate the rounded average rating
  const roundedAverageRating = calculateRoundedAverage(averageRating);

  // Set the checked attribute based on the rounded average rating
  const stars = document.querySelectorAll('input[name="rating-2"]');
  stars.forEach((star, index) => {
    star.checked = (index + 1) === roundedAverageRating;
  });
</script>

<script src="assets/js/wait-time-api.js"></script>
<script src="assets/js/close-modal.js"></script>
</html>