<!-- Desktop Version -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sunshine Attractions</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <!-- Google Fonts (Kara 500 & Merriweather 400) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Merriweather&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Don't remove this script tag, it will cause a bug when clicking "x" inside of the modal -->
    <script src="/js/main.js"></script>
        <!-- Don't remove this script tag, it needs to be on top for the inline script that handles converting the rating value into which star
    is selected in user reviews. -->
    <script src="assets/js/transfer-review-star-data.js"></script>
    <script src="assets/js/average-review.js"></script>
    <script src="assets/js/form-submit-control.js"></script>
    <script src="assets/js/control-modal-4.js"></script>
    <script src="assets/js/toggleHiddenComments.js"></script>
    <script src="assets/js/ajax-comment-like.js"></script>
    <script src="assets/js/ajax-comment-dislike.js"></script>
    <script src="assets/js/ajax-review-like.js"></script>
    <script src="assets/js/change-filter-heading.js"></script>
  </head>
<% if (isDesktop) { %>
    <div class="desktop-container w-screen h-auto overflow-auto">
      <% if (loggedIn) { %>
        <header>
          <nav class="desktop-navbar w-full h-1/5 flex justify-between items-center p-3 bg-gray-100">
            <div class="logo-container flex justify-center items-center">
              <a href="/">
              <img class="w-full h-6/12" src="assets/image/Sunshine Attractions-logo/sunshine-logo-transparent (2).png" alt="Sunshine Attractions Logo">
              </a>
            </div>
            <div class="login-container flex justify-center items-center p-5">
              <div class="dropdown dropdown-hover">
                <form action="/profile">
                  <div class="avatar">
                    <div class="w-10 rounded-full">
                      <img src="<%= user.profilePic || 'assets/image/Sunshine Attractions-logo/default-profile-pic.png' %>" alt="User Profile Picture" />
                    </div>
                  </div>
                </form>
                <form action="/profile" class="font-karla">
                  <%= user.userName %>
                </form>
                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52 right-0 menu bg-base-200">
                    <li><a href="/profile" class="active font-merriweather">Profile</a></li>
                    <li><a href="/your-reviews" class="font-merriweather">Your reviews</a></li>
                    <li><a href="/logout" class="font-merriweather">Logout</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </header>
      <% } else { %>
        <header>
          <nav class="desktop-navbar w-full h-1/5 flex justify-between items-center p-5  bg-gray-100 mb-10">
            <div class="logo-container flex justify-center items-center">
              <a href="/">
                <img class="w-full h-6/12" src="assets/image/Sunshine Attractions-logo/sunshine-logo-transparent (2).png" alt="Sunshine Attractions Logo">
              </a>
            </div>
            <div class="login-container flex justify-center items-center p-5">
              <form action="/login">
                <button type="submit" class="border border-gray-300 rounded-md shadow-sm bg-secondaryButton p-3 m-2 font-merriweather hover:bg-black hover:text-white hover:border-white">LOGIN</button>
              </form>
              <form action="/signup">
                <button type="submit" class="bg-primaryButton border rounded-md shadow-sm p-3 m-2 font-merriweather hover:bg-black hover:text-white hover:border-white">SIGNUP</button>
              </form>
            </div>
          </nav>
        </header>
      <% } %>

      <main class="w-auto flex overflow-auto border-box p-10">
        <section class="lg:w-1/2">
     <!-- Left section -->       

     <div class="w-3/4 flex  justify-center m-auto">
      <div class="card bg-base-100 shadow-xl shadow-black">
        <div class="relative">
          <figure class="rounded-2xl">  
            <img class="object-cover" src="assets/image/Sunshine Attractions-logo/space-mountain.jpeg" alt="Photo of Space Mountain">
          </figure>
          <div class="absolute bottom-4 right-4 bg-black text-white text-5xl border border-primaryButton border-4 w-24 h-24 flex flex-col justify-center items-center font-bold text-center shadow-md shadow-black">
            <section id="space-wait">
              <span class="loading loading-spinner text-warning"></span>  
            </section>
            <section>
              <h2 class="text-sm">Wait Time</h2>
            </section>

          </div>
        </div>
        <div class="card-body flex">
          <h1 class="text-5xl items-center justify-center w-full flex mt-2 font-karla">Space Mountain</h1>
          <div class="rating m-1 items-center justify-center w-full flex">
            <input value="1" type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400 m-1 w-10 h-10" />
            <input value="2" type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400 m-1 w-10 h-10" />
            <input value="3" type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400 m-1 w-10 h-10" />
            <input value="4" type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400 m-1 w-10 h-10" />
            <input value="5" type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400 m-1 w-10 h-10" />
          </div>

          <script>
            initializeStarRating();
          </script>      

          <div class="flex justify-center items-center font-karla xl">
            Rating: <%= averageRating.toFixed(1) %>
          </div>
  
          <div class="w-full flex flex-col justify-center items-center">
            <% if (disableReviewButton) { %>
              <!-- Button is disabled -->
              <button class="btn btn-outline m-2 font-merriweather" disabled onclick="my_modal_3.showModal()">You already submitted a review</button>
            <% } else if (!loggedIn) { %>
              <button class="btn btn-outline m-2 font-merriweather" disabled onclick="my_modal_3.showModal()">Login to submit a review</button>
            <% } else { %>
              <!-- Button is enabled -->
              <button class="btn btn-outline m-2 font-merriweather" onclick="my_modal_3.showModal()">Leave a Review</button>
            <% } %>
          </div>

          <div>
            <div class="badge badge-secondary badge-outline">dark-ride</div>
            <div class="badge badge-secondary badge-outline">rollercoaster</div>
            <div class="badge badge-secondary badge-outline">thrill</div>
            <div class="badge badge-secondary badge-outline">immersive</div>
          </div>

          <div>
            <h2 class="text-2xl w-full flex mt-2 font-karla">About:</h2>
            <p class="font-merriweather items-center justify-center">Space Mountain is a space themed dark ride indoor rollercoaster. Expect twists, turns, and sudden drops! Space Mountain is a beloved roller coaster attraction at Disney World's Magic Kingdom. It's set within a massive, iconic white dome, resembling a futuristic space station.</p>
          </div>

          <div>
            <h2 class="text-2xl w-full flex mt-2 font-karla">Height Requirement:</h2>
            <p class="font-merriweather items-center justify-center">To ride Space Mountain, you must be at least 44 inches (112 cm) tall.</p>
          </div>

          <div>
            <h2 class="text-2xl w-full flex mt-2 font-karla">Duration:</h2>
            <p class="font-merriweather items-center justify-center">3 Minutes</p>
          </div>

          <div>
            <h2 class="text-2xl w-full flex mt-2 font-karla">Drop height:</h2>
            <p class="font-merriweather items-center justify-center">26′</p>
          </div>

          <div>
            <h2 class="text-2xl w-full flex mt-2 font-karla">Inversions?</h2>
            <p class="font-merriweather items-center justify-center">No</p>
          </div>

          <div>
            <h2 class="text-2xl w-full flex mt-2 font-karla">Opening Date</h2>
            <p class="font-merriweather items-center justify-center">Space Mountain first opened its doors to thrill-seekers on January 15, 1975. Since then, it has been a staple of the Magic Kingdom experience.</p>
          </div>

          <div>
            <h2 class="text-2xl w-full flex mt-2 font-karla">Multiple Tracks</h2>
            <p class="font-merriweather items-center justify-center">Space Mountain operates with two separate tracks that often run simultaneously, providing riders with slightly different experiences, adding to its replay value.</p>
          </div>

        
  
        </div>
      </div>

    </section>

    <!-- Modal -->
    <dialog id="my_modal_3" class="modal">
    <form action="/review/createReview" enctype="multipart/form-data" method="POST" class="modal-box m-8" id="reviewForm">
      <button type="button" id="closeModalBtn" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>

      <section class="flex h-2/5 w-full items-center justify-center">
        <div class="flex justify-center items-center p-5 w-1/3 h-1/2">
          <div class="avatar">
            <div class="w-20 rounded-full">
              <% if (user && user.profilePic) { %>
                <img src="<%= user.profilePic %>" alt="User Profile Picture" />
              <% } else { %>
                <img src="assets/image/Sunshine Attractions-logo/default-profile-pic.png" alt="Default Profile Picture" />
              <% } %>
            </div>
          </div>
          <h2 class="m-2 text-2xl">
            <% if (user && user.userName) { %>
              <%= user.userName %>
            <% } else { %>
              Guest User
            <% } %>
          </h2>
        </div>
        <div class="w-2/3">
          <div class="rating m-2">
            <input type="radio" name="rating" id="rating1" value="1" class="mask mask-star-2 bg-orange-400 m-1 w-10 h-10"  />
            <input type="radio" name="rating" id="rating2" value="2" class="mask mask-star-2 bg-orange-400 m-1 w-10 h-10" />
            <input type="radio" name="rating" id="rating3" value="3" class="mask mask-star-2 bg-orange-400 m-1 w-10 h-10" />
            <input type="radio" name="rating" id="rating4" value="4" class="mask mask-star-2 bg-orange-400 m-1 w-10 h-10" checked />
            <input type="radio" name="rating" id="rating5" value="5" class="mask mask-star-2 bg-orange-400 m-1 w-10 h-10" />
          </div>
        </div>
      </section>
      

        <section class="h-2/5 w-full flex justify-center items-center flex-col">
          <label for="desc" class="form-label">Descripton</label>
          <textarea class="border border-black font-merriweather" id="desc" name="desc" cols="50" rows="10" maxlength="200"></textarea>
        </section>

        <section>
          <div class="mb-3 flex justify-center items-center flex-col">
            <label for="imgUpload" class="form-label">Add photos (Select up to 4)</label>
            <input type="file" name="files" class="form-control file-input file-input-bordered file-input-warning w-full max-w-xs" multiple />
          </div>
        </section>


        <section class="h-1/5 w-full flex justify-end items-center">
          <input type="hidden" name="pageId" value="123">
          <span class="loading loading-spinner text-warning hidden"></span>
          <button type="submit" value="Upload" class="bg-primaryButton border rounded-md shadow-sm p-3 m-2 font-merriweather hover:bg-black hover:text-white hover:border-white" id="submitButton">SUBMIT</button>
        </section>
        
        <input type="hidden" name="pageName" value="<%= pageName %>">

      </section>
    </form>
      
    </dialog>

    <section class="w-1/2 h-full flex items-center flex-col overflow-auto box-border">
        <div class="dropdown dropdown-right w-min-[500px] w-max-[500px] flex justify-center items-center">
          <div class="flex justify-center items-center">
            <h2 id="reviewsHeading" class="font-karla text-3xl w-full m-auto">All Reviews</h2>
          <label tabindex="0" class="btn m-1">Filters</label>
          <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
            <li><a id="filter-link" class="font-merriweather <%= filter === 'all' ? 'active' : '' %>" href="/space-mountain?filter=all">All reviews</a></li>
            <li><a id="filter-link" class="font-merriweather <%= filter === 'your' ? 'active' : '' %>" href="/space-mountain?filter=your">Your reviews</a></li>
            <li><a id="filter-link" class="font-merriweather <%= filter === 'highest-rated' ? 'active' : '' %>" href="/space-mountain?filter=highest-rated">Highest rated</a></li>
            <li><a id="filter-link" class="font-merriweather <%= filter === 'most-critical' ? 'active' : '' %>" href="/space-mountain?filter=most-critical">Most critical</a></li>
            <li><a id="filter-link" class="font-merriweather <%= filter === 'most-recent' ? 'active' : '' %>" href="/space-mountain?filter=most-recent">Recent reviews</a></li>
          </ul>
        </div>
      </div>
        <!-- Right section -->
        <!-- Review componet -->  
        <% for (var i = 0; i < review.length; i++) { %>
          <% if (review[i].page === 'space-mountain') { %>    
        <div class="card bg-base-100 shadow-xl border border-gray-100 m-5 overflow-hidden min-w-[500px] max-w-[500px]">
            <div class="card-body overflow-auto box-border">
              <div>
                <section class="flex">
                  <div class="flex justify-center items-center w-1/3 h-1/2">
                    <div class="avatar">
                      <div class="w-10 rounded-full">
                        <% if (review[i].user && review[i].user.profilePic) { %>
                          <img src="<%= review[i].user.profilePic %>" alt="User Profile Picture" />
                        <% } else { %>
                          <img src="assets/image/Sunshine Attractions-logo/default-profile-pic.png" alt="Default Profile Picture" />
                        <% } %>
                      </div>
                    </div>
                    <h2 class="m-2 font-merriweather text-xl"><%= review[i].user.userName %></h2>
                  </div>
                  <div class="w-2/3 flex justify-center items-center">
                    <div class="rating ml-1 mr-1">
                      <input type="radio" id="star-<%= i %>-1" name="rating-<%= i %>" class="mask mask-star-2 bg-orange-400 m-1 w-8 h-8" />
                      <input type="radio" id="star-<%= i %>-2" name="rating-<%= i %>" class="mask mask-star-2 bg-orange-400 m-1 w-8 h-8" />
                      <input type="radio" id="star-<%= i %>-3" name="rating-<%= i %>" class="mask mask-star-2 bg-orange-400 m-1 w-8 h-8" />
                      <input type="radio" id="star-<%= i %>-4" name="rating-<%= i %>" class="mask mask-star-2 bg-orange-400 m-1 w-8 h-8" />
                      <input type="radio" id="star-<%= i %>-5" name="rating-<%= i %>" class="mask mask-star-2 bg-orange-400 m-1 w-8 h-8" />
                    </div>
                  </div>
                </section>
        
                <section class="h-1/2 flex justify-center items-center pt-5 pb-5 pl-4 pr-4">
                  <p class="font-merriweather"><%= review[i].desc %></p>
                </section>

                <section>
                  <ul class="flex flex-wrap justify-start w-full p-2 space-x-7 {{ review[i].images[0] || review[i].images[1] || review[i].images[2] || review[i].images[3] ? '' : 'hidden' }}">
                    <% for (let j = 0; j < 4; j++) { %>
                      <% if (review[i].images[j]) { %>                       
                        <div class="flex flex-1">
                          <img src="<%= review[i].images[j] %>"
                            alt=""
                            data-image-url="<%= review[i].images[j] %>"
                            class="w-20 h-20 object-cover hover:scale-110 cursor-pointer border border-black"
                            onclick="openImageModal(this.getAttribute('data-image-url'))">
                        </div>
                      <% } %>
                    <% } %>
                  </ul>
                </section>

              
                
                
                
              <!-- Modal for displaying larger image -->
              <div id="imageModal" class="hidden fixed inset-0 flex items-center justify-center z-50 overflow-auto">
                <div class="bg-black bg-opacity-90 p-4 h-full w-full relative">
                  <span class="close-button absolute top-4 right-6 text-white text-8xl cursor-pointer"
                    onclick="closeImageModal()">&times;</span>
                  
                  <div class="flex flex-col justify-center items-center h-full">
                    <button class="prev-arrow absolute left-4 top-1/2 transform -translate-y-1/2 text-white text-8xl cursor-pointer" onclick="showPreviousImage()">&lsaquo;</button>
                    <img id="modalImage" src="" alt="Large Image" class="w-2/5 max-h-2/5 object-contain">
                    <button class="next-arrow absolute right-4 top-1/2 transform -translate-y-1/2 text-white text-8xl cursor-pointer" onclick="showNextImage()">&rsaquo;</button>
                  </div>
                </div>
              </div> 
                
              <div class="flex items-end justify-end">

                <section class="flex justify-end items-end m-2">
                  <form
                    class="col-1"
                    data-action="/review/likePost/<%= review[i]._id %>?_method=PUT"
                    method="POST"
                  >
                  <button class="btn bg-secondaryButton <%= user && review[i].likedBy.includes(user._id) ? 'border-gray text-black' : 'border-gray text-gray-400' %>"
                    type="button"
                    onclick="toggleLike(<%= i %>)">
                    <i class="fa fa-thumbs-up"></i>
                    <span class="<%= user && review[i].likedBy.includes(user._id) ? 'text-black' : 'text-black' %>"
                      id="like_<%= i %>">
                      <%= review[i].likes %>
                     </span>
                    </button>
                  </form>
                </section>
                
              <!-- Comment Button Start -->
              <section class="flex justify-end items-end m-2">
                <form class="col-1" action="" method="POST" onsubmit="return false;">
                  <button class="btn fa bg-primaryButton" onclick="toggleHiddenComments('<%= i %>')">
                    <i class="fa fa-comment" aria-hidden="true"></i>
                    <span>
                      <%= review[i].comments.length %>
                    </span>
                  </button>
                </form>
              </section>
            </div>
<section id="triggerHiddenComments<%= i %>" class="hidden">
            <div class="w-full border border-t-gray-400 mt-4 mb-4">

            </div>
            <section class="h-full">

  <!-- Comment Form -->
  <section>
    <form action="/comment/createComment/<%= review[i]._id %>" method="POST" id="commentForm<%= i %>">
      <ul class="flex h-10 items-center justify-center">
        <% if (loggedIn) { %>
          <input class="input input-bordered w-full max-w-xs border border-black items-center" id="commentDesc<%= i %>" name="commentDesc" cols="50" rows="10" maxlength="200" placeholder="Write a comment to <%= review[i].user.userName %>"></input>
          <span class="loading loading-spinner text-warning hidden m-5" id="loadingSpinner<%= i %>"></span>
          <input type="hidden" name="pageName" value="<%= pageName %>">
          <button type="button" class="btn btn-outline m-2" id="submitButton<%= i %>" onclick="submitComment(<%= i %>)">Submit</button>
        <% } else { %>
          <input class="input input-bordered w-full max-w-xs border border-black items-center" id="commentDesc<%= i %>" name="commentDesc" cols="50" rows="10" maxlength="200" placeholder="You must be logged in to comment." disabled></input>
          <button type="button" class="btn btn-outline m-2" id="submitButton<%= i %>" onclick="submitComment(<%= i %>)" disabled>Submit</button>
        <% } %>
      </ul>
    </form>
  </section>

  <script>
    document.getElementById('submitButton<%= i %>').addEventListener('click', function(event) {
      event.preventDefault();
  
      const loadingSpinner = document.getElementById('loadingSpinner<%= i %>');
      const submitButton = document.getElementById('submitButton<%= i %>');
      const commentInput = document.getElementById('commentDesc<%= i %>');
  
      loadingSpinner.classList.remove('hidden');
      submitButton.classList.add('hidden');
  
      // Submit the form programmatically without a delay
      document.getElementById('commentForm<%= i %>').submit();
    });
  </script>

  <section class="mt-10 mb-10">
    <% for (let k = 0; k < comments.length; k++) { %>
      <% if (comments[k].review._id.toString() === review[i]._id.toString()) { %>
      <div class="card bg-base-100 shadow-xl border border-gray-400 m-4">
        <div class="card-body">
          <div class="flex justify-center items-center w-1/3 h-1/2">
            <div class="avatar">
              <div class="w-10 rounded-full">
                <% if (comments[k].user && comments[k].user.profilePic) { %>
                  <img src="<%= comments[k].user.profilePic %>" alt="User Profile Picture" />
                <% } else { %>
                  <img src="assets/image/Sunshine Attractions-logo/default-profile-pic.png" alt="Default Profile Picture" />
                <% } %>
              </div>
            </div>
            <h2 class="m-2 font-merriweather text-xl"><%= comments[k].user.userName %></h2>
          </div>
          <p><%= comments[k].commentDesc %></p>
        <section class="flex items-end justify-end">
          <section class="flex justify-end items-end m-2">
            <form class="col-1" id="likeCommentForm_<%= k %>" data-comment-id="<%= comments[k]._id %>">
              <button class="btn <%= comments[k] && user && comments[k].likedBy.includes(user._id) ? 'border-gray text-black' : 'border-gray text-gray-400' %>"
                type="button"
                onclick="likeComment(<%= k %>)"
                data-comment-id="<%= comments[k] ? comments[k]._id : '' %>">
          <i class="fa fa-thumbs-up"></i>
          <span class="<%= comments[k] && user && comments[k].likedBy.includes(user._id) ? 'text-black' : 'text-gray' %>" id="like<%= k %>">
            <%= comments[k] ? comments[k].likes : '' %>
          </span>
        </button>
            </form>
        </section>

        <section class="flex justify-end items-end m-2">
          <form class="col-1" id="dislikeCommentForm_<%= k %>" data-comment-id2="<%= comments[k]._id %>">
            <button class="btn <%= comments[k] && user && comments[k].dislikedBy.includes(user._id) ? 'border-gray text-black' : 'border-gray text-gray-400' %>"
                    type="button"
                    onclick="dislikeComment(<%= k %>)"
                    data-comment-id2="<%= comments[k] ? comments[k]._id : '' %>">
              <i class="fa fa-thumbs-down"></i>
              <span class="<%= comments[k] && user && comments[k].dislikedBy.includes(user._id) ? 'text-black' : 'text-black' %>" id="dislike<%= k %>">
                <%= comments[k].dislikes %>
              </span>
            </button>
          </form>
        </section>

    </section>
        </div>
      </div>
    <% } %>
    <% } %>
  </section>


          </div>
        </div>
</div>
        
          <script>
            (function(i) {
              // Call the function to set the star rating for this review
              setStarRating(<%= review[i].rating %>, i);
              
              // Disable the radio buttons for star rating
              const stars = document.querySelectorAll(`input[name="rating-${i}"]`);
              for (const star of stars) {
                star.disabled = true;
              }
            })(<%= i %>);
          </script>
          
        <% } %>
      <% } %>
        <script>
          // Function to calculate the rounded average rating
          function calculateRoundedAverage(averageRating) {
            return Math.round(averageRating);
          }
        
          // Get the average rating from the server
          const averageRating = <%= averageRating.toFixed(1) %>;
        
          // Calculate the rounded average rating
          const roundedAverageRating = calculateRoundedAverage(averageRating);
        
          // Set the checked attribute based on the rounded average rating
          const stars = document.querySelectorAll('input[name="rating-2"]');
          stars.forEach((star, index) => {
            star.checked = (index + 1) === roundedAverageRating;
            star.disabled = true;
          });
        </script>
        <script src="assets/js/larger-image-modal.js"></script>
        <script src="assets/js/loading-spinner.js"></script>
        <script src="assets/js/wait-time-api.js"></script>
        <script src="assets/js/close-modal.js"></script>
        <script src="assets/js/keep-scroll-position.js"></script>

  <% } %>

  
  <!-- Mobile Version -->
  <% if (!isDesktop) { %>
    <div class="mobile-container">
      <!-- Mobile-specific HTML structure -->
      <header>
        <!-- Large box for the app title on mobile -->
        <h1>Sunshine <br> Attractions </br> </h1>
      </header>

      <div class="search-container">
        <!-- Search bar content here -->
      </div>

      <main>
        <ul>
            <li>
                <a href="">Disney</a>
            </li>
            <li>
                <a href="">Universal</a>
            </li>
            <li>
                <a href="">Seaworld</a>
            </li>
            <li>
                <a href="">Busch Gardens</a>
            </li>
         </ul>
      </main>

      <section>
        <article>
            <h2>Halloween Horror Nights 2023</h2>
        </article>
      </section>

    </div>
  <% } %>
</body>
</html>